body {
  background-color: #9fe80f;
  font-family: sans-serif;
}
h1, h2, h3, h4, h5, h6, p, a {
  color: #46b8f4;
  text-align: center;
}
.a {
  background-color: #a73de9;
  border: none;
  width: 90px;
  height: 50px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.a:focus {
  outline: none;
}
.a:active {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #a73de9;
  overflow-x: hidden;
  padding-top: 20px;
}
.sidenav a, .dropbtn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
.sidenav a:hover, .dropbtn:hover {
  color: #f1f1f1;
}
.main {
  margin-left: 200px;
  font-size: 20px;
  padding: 0px 10px;
}
.active {
  background-color: #a73de9;
  color: white;
}
.dropdown {
  display: none;
  background-color: #a73de9;
  padding-left: 8px;
}
.fas-caret-down {
  float: right;
  padding-right: 8px;
}
input[type=text] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
  width: 100%;
}
.submit {
  background-color: #a73de9;
  color: white;
  text-align: center;
}
